.wrapper{
    width: 100px;
    height: 23px;
    background-color: lightblue;
    border: 1px solid darkgray ;
    border-radius:25px ;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}