<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'over'">
    <mat-toolbar color>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-form-field class="categories">
        <mat-label>Kategorie</mat-label>
        <mat-select>
          <mat-option><a [routerLink]="['/']" routerLinkActive="router-link-active">  Kategoria 1 </a></mat-option>
          <mat-option><a [routerLink]="['/']" routerLinkActive="router-link-active">  Kategoria 2 </a></mat-option>
          <mat-option><a [routerLink]="['/']" routerLinkActive="router-link-active">  Kategoria 3 </a></mat-option>
          <mat-option><a [routerLink]="['/']" routerLinkActive="router-link-active">  Kategoria 4 </a></mat-option>
          <mat-option><a [routerLink]="['/']" routerLinkActive="router-link-active">  Kategoria 5 </a></mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-list-item href="#">Archiwum</a>
      <a mat-list-item href="#">O mnie</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="burger-icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h1 class="title">
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            Design smaku
          </a>
        </h1>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="spacer"></span>
        <a [routerLink]="['/#']" routerLinkActive="router-link-active" class="rej-and-logon">Logowanie </a>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="rej-and-logon"> Rejestracja </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>