<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'over'">
    <mat-toolbar color>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-form-field class="categories">
        <mat-label>Kategorie</mat-label>
        <mat-select>
          <mat-option  *ngFor="let item of categories" ><a [routerLink]="['/', item]" routerLinkActive="router-link-active">  {{item}} </a></mat-option>
        </mat-select>
      </mat-form-field>
      <a mat-list-item *ngIf="isLogged$ | async" [routerLink]="['/posts/add']" routerLinkActive="router-link-active" (click)="drawer.close()"> Dodaj nowy post </a>
      <a mat-list-item *ngIf="isLogged$ | async" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" (click)="drawer.close()">Moje posty</a>
      <a mat-list-item href="#">Archiwum</a>
      <a mat-list-item href="#">O mnie</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon" class="burger-icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <h1 class="title">
          <a [routerLink]="['/']" routerLinkActive="router-link-active">
            Design smaku
          </a>
        </h1>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="spacer"></span>
        <div *ngIf="!(isLogged$ | async); else notLoggedIn">
        <a [routerLink]="['/signin']" routerLinkActive="router-link-active" class="rej-and-logon">Logowanie </a>
        <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="rej-and-logon"> Rejestracja </a>
      </div>
       <ng-template #notLoggedIn><div class="rej-and-logon" (click)="logOut()">Wyloguj</div></ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>