.container{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e9e9;
    margin-top: 10px;
    height: 90px;
}

img{
    width: 70px;
    height: 80px;
}

button{
    margin-left: 15px;
}

#delete{
    color: red;
}

#edit{
    color: rgb(48, 187, 233);
}