.container{
    width: 90%;
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

.possible-cat-wrapper{
    margin-top: 15px;
}

button{
    border-radius: 25px;
    width: 70px;
    height: 30px;
    background-color:#d885ff;
}

.agree-button{
    background-color: lightgreen;
    border-radius: 25px;
    width: 70px;
    height: 30px;
}

