<form>

    <mat-form-field>
        <span class="spacer"></span>
        <textarea matInput ngModel class="form-control" minlength="3" maxlength="256" placeholder="Twój komentarz"
            name="comment" #comment="ngModel" [(ngModel)]="comment.body" (keyup)="setBodyExists()"
            (focuslost) = "setBody(comment)"></textarea>
        <mat-hint [align]="end">{{comment.value?.length || 0}}/256</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf='isNotBodyEmpty && comment.body != ""'>
        <textarea matInput ngModel class="form-control" minlength="3" maxlength="16" placeholder="Twój nick" name="nick"
            #nick="ngModel"  (keyup) = "setIsNameNotEmpty()" [(ngModel)]="comment.name"></textarea>
        <mat-hint [align]="end">{{nick.value?.length || 0}}/16</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf='isNameNotEmpty && comment.name != ""'>
            <textarea matInput ngModel class="form-control" minlength="3" maxlength="32" placeholder="Twój email" name="email"
                #email="ngModel" [(ngModel)]="comment.email"></textarea>
            <mat-hint [align]="end">{{email.value?.length || 0}}/32</mat-hint>
        </mat-form-field>


    <div class="alert alert-danger" *ngIf="comment.touched && !comment.valid ">
        <div *ngIf="comment.errors.minlength"> Komentarz jest za krótki </div>
    </div>

    <button class="btn btn-primary" id="addBtn"> Dodaj </button>

</form>