<div id = "post-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class = "title">{{post.data.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="post.data.pictureUrl" alt="Piękne zdjęcie ">
        <mat-card-content id="content">
            <p class = "sectionHeader">Składniki : </p> 
            <p *ngFor="let item of post.data.ingridients | keyvalue">
                {{item.key}}: {{item.value}}
            </p>
            <div *ngFor="let item of post.data.description | keyvalue">
                <p class = "sectionHeader">{{item.key}}</p>
                <p> 
                    {{item.value}}
                </p>
            </div>
        </mat-card-content>
        <div class="category-wrapper">
            <span class="spacer"></span>
            <div *ngFor="let cat of post?.data.categories " class="category">
                <a>{{cat}}</a>
            </div>
        </div>
        <!-- <mat-card-actions id="action">
            <span class="spacer"></span>
            <button mat-raised-button id="like" class="blue-neon-font" (click)="updatePost()">LIKE</button>
            <span class="likes blue-neon-font">{{post.likes}}</span>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
    <app-comment-input [postId]="post.id"></app-comment-input>
    <app-comments></app-comments>
</div>