<div id = "post-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="post.pictureUrl" alt="Piękne zdjęcie ">
        <mat-card-content id="content">
            <p>{{post.description}}</p>
        </mat-card-content>
        <div class="category-wrapper">
            <span class="spacer"></span>
            <div *ngFor="let cat of post.category " class="category">
                <a>{{cat}}</a>
            </div>
        </div>
        <!-- <mat-card-actions id="action">
            <span class="spacer"></span>
            <button mat-raised-button id="like" class="blue-neon-font" (click)="updatePost()">LIKE</button>
            <span class="likes blue-neon-font">{{post.likes}}</span>
            <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
    <app-comment-input></app-comment-input>
    <app-comments></app-comments>
</div>