img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100%;
}

mat-card {
    margin: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#action {
    flex: 1;
}

mat-card-actions {
    display: flex;
}

.category-wrapper {
    display: flex;
}

.category {
    display: inline-flex;
}

.category>a {
    margin: 5px;
    font-size: 13px;
    margin-left: auto;
}

#content {
    font-size: 16px;
}

.spacer {
    flex: 1 1 auto;
}

.likes {
    padding: 8px 5px;
    margin: 3px 2px 3px 3px;
}

#like {
    margin-right: 3px;
    border: royalblue;
    box-shadow:1px 1px skyblue;
}

.blue-neon-font {
    color: royalblue;
    text-shadow: 1px 1px skyblue;
}

#post-container{
    margin-bottom: 10rem;
}

.sectionHeader{
    text-size-adjust: auto;
    font-weight: bold;
    font-size: large;
    
}

#title{
    font-size: larger;
    font-weight: bold;
}

mat-card-header{
    text-align: center;
}